.page {
  max-width: 880px;
  margin: 0 auto;
}

@media (min-width: 763px) and (max-width: 1274px) {
  .page {
    max-width: 750px;
  }
}

@media screen and (max-width: 762px) {
  .page {
    max-width: 320px;
  }
}