.profile__add-photo-btn {
  margin: 35px 0 auto auto;
  width: 150px;
  height: 50px;
  background-color: black;
  border: 2px solid white;
  border-radius: 2px;
  background-image: url(../../../images/icon-plus.jpg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__add-photo-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 762px) {
  .profile__add-photo-btn {
    width: 282px;
    margin: 32px auto 0;
  }
}