.popup-form__place_type_photo {
  min-height: 50px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
  
@media screen and (max-width: 762px) {
  .popup-form__place_type_photo {
    min-height: 48px;
  }
}