.popup-form__user_name {
  min-width: 358px;
  min-height: 44px;
  border: none;
  border-bottom: .1px solid rgb(0, 0, 0, .2);
}

@media screen and (max-width: 762px) {
  .popup-form__user_name {
    min-width: 238px;
    height: 54px;
  }
}
