.popup__save {
  min-width: 358px;
  min-height: 50px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 2px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 45px auto 37px;
}

.popup__save:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 762px) {
  .popup__save {
    min-width: 238px;
    min-height: 46px;
    margin: 46px auto 25px;
    font-size: 14px;
    line-height: 17px;   
  }
}