.header {
  margin: 45px auto 0;
  padding: 0 0 30px;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 762px) {
  .header {
    padding: 0 0 31.6px
  }
}