.profile__subtitle {
  margin: 16px 0 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (max-width: 762px) {
  .profile__subtitle {
    margin: 14px auto 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}