.profile__subtitle {
  margin: 8px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 763px) and (max-width: 1274px) {
  .profile__title {
    font-size: 15px;
  }
}

@media screen and (max-width: 762px) {
  .profile__subtitle {
    margin: 10px auto 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}