.template {
  display: grid;
  grid-template-columns: repeat(3, minmax(282px, 1fr));
  grid-template-rows: repeat(2, minmax(360px, 362px)); 
  row-gap: 19px;
  column-gap: 17px;
}

@media (min-width: 763px) and (max-width: 1274px) {
.template {
    grid-template-columns: repeat(2, minmax(282px, 1fr));
    grid-template-rows: repeat(3, minmax(360px, 362px));
  }
}

@media screen and (max-width: 762px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
}