.template {
  position: relative;
  max-width: 282px;
}

@media screen and (max-width: 762px) {
  .template {
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 762px) {
  .template:first-of-type {
    margin: 36px auto 0;
  }
}