.content__like {
  margin: 29px 20px 30px 5px;
  width: 22px;
  height: 20px;
  background-image: url(../../../images/icon-disabled.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: #ffffff;
}

.content__like:hover {
  cursor: pointer;
  opacity: 0.5;
}
