.profile__title {
  margin: 22px 0 0;
  font-weight: 200;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 1px;
}

@media screen and (max-width: 762px) {
  .profile__title {
    margin: 26px auto 0;
    font-size: 27px;
    line-height: 32px;
    letter-spacing: 0.2px;
    }
}