.content {
  margin: 51px auto 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(282px, 1fr));
  grid-template-rows: repeat(2, minmax(360px, 362px));
  row-gap: 19px;
  column-gap: 17px;
  max-width: 880px;
}

@media (min-width: 763px) and (max-width: 1274px) {
  .content {
    grid-template-columns: repeat(2, minmax(282px, 1fr));
    grid-template-rows: repeat(3, minmax(360px, 362px));
    max-width: 750px;
    column-gap: 185px; 
  }
}

@media screen and (max-width: 1274px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 762px) {
  .content {
    margin: 0 auto;
    max-width: 320px;
    gap: 0;
  }
}