.content__item {
  max-width: 282px;
}

@media screen and (max-width: 762px) {
  .content__item {
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 762px) {
  .content__item:first-of-type {
    margin: 35px auto 0;
  }
}