.profile__avatar {
  margin: 0;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-size: cover;
}

@media screen and (max-width: 762px) {
  .profile__avatar {
    margin: 42px auto 0;
  }
}