.header__place {
  font-weight: 200;
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.1px;
}

@media screen and (max-width: 762px) {
  .header__place {
    font-size: 9px;
    letter-spacing: 0;
  }
} 