.pop-up-form__description {
  min-width: 358px;
  min-height: 46px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, .2);
}

@media (min-width: 1019px) and (max-width: 1274px) {
  .pop-up-form__description {
   
  }
}

@media (min-width: 763px) and (max-width: 1018px) {
  .pop-up-form__description {
    
  }
}

@media screen and (max-width: 762px) {
  .pop-up-form__description {
    min-width: 238px;
    min-height: 57px;
  }
}