.footer {
  margin: 67px auto 60px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  max-width: 880px;
}

@media (min-width: 763px) and (max-width: 1274px) {
  .footer {
    margin: 51px auto 60px;
    font-size: 14px;
    line-height: 17px;
    max-width: 600px;
  }
}

@media screen and (max-width: 762px) {
  .footer {
    max-width: 320px;
  }
}